@import "skeleton.less";
@import "./less/font-awesome.less";
@import "accordion.less";

html, body {
    background-color: #000;
    color: #fff;
   /* font-family: "Lucida Console", Monaco, monospace;*/
    font-size: "11px";
}

input{
    color: #000;
}

input[type="text"]{
    color: #000;
}

h4 {
    font-size: 13px;
}

.mediaContainer {
  /*  position: relative;*/
    display: inline-block;
    width: 300px;
    padding: 2px;
    margin: 2px;
    top: 0px;
    background-color: #444;
    vertical-align:top;
}
.mediaContainer video {
   /* position: absolute;*/
    width: 100%;
    height: 100%;
}

.accordion-section.open>.accordion-header{
    background-color: #066;
    padding-left: 20px;
    padding-right: 10px;
}

.accordion-section.open>.accordion-header:before {
    content: "\f0d7";
    font-family: FontAwesome;
    position: relative;
    left:-10px;
   /* position:absolute;*/
    top:0;
 }

.accordion-section.closed>.accordion-header{
    background-color: #666;
    padding-left: 20px;
    padding-right: 10px;
}

.accordion-section.closed>.accordion-header:before {
    content: "\f0da";
    font-family: FontAwesome;
     position: relative;
    left:-10px;
   /* position:absolute;*/
    top:0;
 }

.accordion-section.open>.accordion-content{
     visibility: visible;
     height: inherit;
}

.accordion-section.closed>.accordion-content{
     visibility: hidden;
     height: 0px;
}
 #dashboard {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80%;
 }
#chatWindow {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 5px;
    padding: 5px;
    background-color: #066;
    z-index: 100;
}

#title{
    position: fixed;
    bottom: 5px;
    left: 5px;
}
/*.volume_bar {
    position: absolute;
    z-index: 5;
    width: 5px;
    height: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #12acef;
}
.volumeSlide {
    position: absolute;
    right: 0px;
    bottom: 0px;
}*/
/*.outputSelector {
    position: absolute;
    bottom: 0px;
    left: 0px;
}*/

/*.peerWindow {
    position: absolute;
    top: 0px;
    left: 0px;
}
.peerFull {
    position: absolute;
    top: 0px;
    left: 120px;                
}*/

#createRoom {
    position: relative;
    left: 0px;
    top: 0px;    
}

#sessionControl {
    position: fixed;
    overflow: auto;
    right: 250px;
    top: 0px;
    padding: 10px;
}

#chat-window{
    position: fixed;
    right: 0px;
    top: 0px;
    height: 80%;
    width: 200px;
    padding: 10px;
}
.list-item{
    margin: 5px;
    padding: 5px;
}

.stream-label{
    color:  #12acef;
    cursor: pointer;
}
/*.stream-holder{
    position: absolute;
    top: 400px;
    left: 0px;
    display: block;
    color: #fff;
    z-index: 100;
    font-size: 11px;
}*/

.list-item.active{
    background-color: #333;
}


